@mainColor: #EA862E;
@CartWidth: 300px;
@NavHeight: 60px;

* {
  font-family: "Helvetica Neue", sans-serif;
}

@import "pizza/pizza-card";
@import "pizza/navigation-panel";
@import "pizza/content";

body {
  background-color: rgba(255, 208, 7, 0.09);
  margin-right: @CartWidth;
  margin-top: @NavHeight;
}

.container{
  width: 100%;
}

#cart {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: @CartWidth;
  box-shadow: -4px 0 10px rgba(147, 141, 89, 0.43);

  background-color: #ffed9b;
}

@media (max-width: 600px) {
  body {
    min-width: @CartWidth;
  }

  #cart {
    right: auto;
    left: @CartWidth;
  }
}

.btn {
  /*padding: 2px 10px 2px 10px;*/
}