<% include common/header.ejs %>

<div class="container">
    <div class="menu">
        <h3 class="all-pizza-lbl">Усі піци <span class="number">0</span></h3>
        <div class="nav-pizza">
            <ul class="nav nav-pills">
                <li role="presentation" class="pizza-type active"><a href="#">Усі</a></li>
                <li role="presentation" class="pizza-type"><a href="#">Мясні</a></li>
                <li role="presentation" class="pizza-type"><a href="#">З ананасами</a></li>
                <li role="presentation" class="pizza-type"><a href="#">З морепродуктами</a></li>
                <li role="presentation" class="pizza-type"><a href="#">З грибами</a></li>
                <li role="presentation" class="pizza-type"><a href="#">Вега</a></li>
            </ul>
        </div>
    </div>
    <div class="row display-flex" id="pizza_list">

    </div>
</div>

<div id="cart">
    <div class="order-header">
        <h3>Замовлення <span class="pizza-ordered">0</span></h3>
        <span id="clear">Очистити</span>
    </div>
    <div id="order">

    </div>
    <div class="order-butt">
        <div class="summary">
            <h4>Сума замовлення</h4>
            <h4 id="sum">0 грн</h4>
        </div>
        <div id="orderButt" class="btn btn-warning">Замовити</div>
    </div>
</div>

<% include common/footer.ejs %>