<% include common/header.ejs %>

<div id="cartOrder">
    <div class="order-header">
        <h3>Замовлення <span class="pizza-ordered">0</span></h3>
        <span id="clear">Очистити</span>
    </div>
    <div id="order">

    </div>
    <div class="order-butt">
        <div class="summary">
            <h4>Сума замовлення</h4>
            <h4 id="sum">0 грн</h4>
        </div>
        <div id="editButt" class="btn btn-default">Редагувати</div>
    </div>
</div>

<div class="container">
    <div id="form">
        <h3>1. Контактні дані</h3>
        <div class="contactsInfo col-sm-12 col-md-6">

            <div class="input-group input-group-lg contactsInfo col-xs-12">
                <span class="input-group-addon label-name">Ім’я</span>
                <input type="text" class="form-control" id="inputName" placeholder="Ім’я, Прізвище">
                <div class="nameHint none invalid">Введіть тільки власне ім’я, без цифр</div>
            </div>
            <br>

            <div class="input-group input-group-lg ph0neInfo col-xs-12">
                <span class="input-group-addon label-phone">Телефон</span>
                <input type="text" class="form-control" id="inputPhone" placeholder="+380994010999">
                <div class="phoneHint none invalid">Введіть номер телефону у форматі +380 або почніть з 0</div>
            </div>
            <br>

            <div class="input-group input-group-lg adressInfo col-xs-12">
                <span class="input-group-addon label-adress">Адреса</span>
                <input type="text" class="form-control" id="inputAdress" placeholder="Київ, вул. Спаська, 2" >
                <div class="adressHint none invalid">Введіть правильну адресу доставки піци</div>
            </div>
            <br>

        </div>

        <div class="blank col-md-1"></div>
        <div class="orange col-sm-12 col-md-5">
            <div class="summary">
                <h3>Інформація про замовлення</h3>
                <p class="order-summery-time">
                    <b>Приблизний час доставки:</b> -/-
                </p>
                <p class="order-summery-adress">
                    <b>Адреса доставки:</b> -/-
                </p>
            </div>
        </div>
        <br>
        <div id="submitButt" class="btn btn-warning">Далі <b>></b></div>
    </div>

    <div id="liqpay"></div>

    <div id="googleMap"></div>
</div>

<% include common/footer.ejs %>