
<div class="footer">
    <p>PIZZA KMA - Практичний проект в межах курсу JavaScript в "Києво-Могилянській академії"</p>
    <p>Доставка піци не здійснюється</p>
    <p>&copy; San Nguyen</p>
</div>

<div class="badge-ds">
    <img src="assets/images/discount.svg"/>
    <div class="text">ЦЬОГО ТИЖНЯ НА ВСЕ</div>
    <div class="discount">-20%</div>
</div>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>