<div id="cart">
    <div class="order-header">
        <h3>Замовлення <span class="pizza-ordered">0</span></h3>
        <span id="clear">Очистити</span>
    </div>
    <div id="order">

    </div>
    <div class="order-butt">
        <div class="summary">
            <h4>Сума замовлення</h4>
            <h4 id="sum">0 грн</h4>
        </div>
        <div id="orderButt" class="btn btn-warning" onClick='location.href="/"'>Редагувати</div>
    </div>
</div>